/*0.section menu header*/

#header {
  background-image: linear-gradient(#00000065,#000),url(images/hattergyanus2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav img {
  max-width:240px;
  cursor:pointer;
  margin-right:5rem;
}

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10%;
  margin-left:auto;
  margin-right:auto;
}

.navlinks {
  text-transform: uppercase;
  flex: 1;
  text-align:center;
}


.navlinks ul {
  text-align:end;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 20px;
  color: #dd3333;
  position: relative;
}

.navbar ul img {
  width: 30px;
  margin: 20px 8px 0 18px;
}

.navbar ul img:hover {
  transform: scale(1.3);
}

.navlinks ul li a {
  text-decoration: none;
}

.navlinks ul li a span {
  position: relative;
  display: inline-block;
}

.navlinks ul li a span::before,
.navlinks ul li a span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #dd3333;
  transition: all 0.4s ease;
}

.navlinks ul li a span::before {
  left: 50%;
}

.navlinks ul li a span::after {
  right: 50%;
}

.navlinks ul li a:hover span::before,
.navlinks ul li a:hover span::after {
  width: 50%;
}

.navlinks ul li a:hover span::before {
  left: 0;
}

.navlinks ul li a:hover span::after {
  right: 0;
}